.cart__wrapper {
  margin-top: 200px;
  padding: 100px;
  background-color: rgba(71, 67, 67, 0.6);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  position: relative;

  @media (max-width: 748px) {
    flex-direction: column;
  }

  @media (max-width: 375px) {
    padding: 80px;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    background-color: royalblue;
    color: white;
    border-radius: 10px;
    padding: 5px;
    border: none;
    cursor: pointer;
  }
  .wrapper__button {
    position: absolute;
    bottom: 0;

    a {
      text-decoration: none;
    }
  }

  .cart__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(131, 136, 139);
    border-radius: 5px;
    padding: 0 10px;
    height: 455px;



    @media (max-width: 915px) {
      height: 353px;
      padding: 0 24px;
    }

    @media (max-width: 748px) {
      margin-bottom: 10px;
    }

    
    @media (max-width: 480px) {
      height: 280px;

      // padding: 0;
      background-color: inherit;
      display: block;
    }


    @media (max-width: 375px) {
        width: 100%;
        height: 100%;
        margin-right: 40px;
    }
    .cart__img {
      border-radius: 10px;
      max-width: 300px;
      width: 230px;
      height: 230px;

      @media (max-width: 915px) {
          width: 150px;
          height: 150px;
      }
  

      @media (max-width: 480px) {
        // width: 180px;
        // height: 180px;
        width: 100%;
      }
    }

    .cart__info {
      max-width: 230px;
      width: 300px;
      padding: 10px;
      margin-top: 10px;
      border-radius: 5px;
      background-color: rgba(244, 244, 244, 0.9);
      overflow: scroll;
      p{
        line-height: 15px;
      }

      @media (max-width: 915px) {
        width: 150px;
        padding-bottom: 15px;
    }

      @media (max-width: 480px) {
        // width: 180px;
        width: 100%;
      }
    }
    .cart__authors {
      font-size: 22px;
      font-weight: bold;

      @media (max-width: 915px) {
        font-size: 12px;
    }

      @media (max-width: 480px) {
        font-size: 18px;
        line-height: 20px;
      }
    }

    .cart__title {
      font-weight: bold;
      font-size: 20px;
      color: red;

      @media (max-width: 915px) {
        font-size: 10px;
    }

      @media (max-width: 480px) {
        margin: 4px 0;
        font-size: 16px;
        line-height: 18px;
      }
    }

    .cart__subtitle {
      font-size: 18px;
    }

    .cart__country {
      color: blue;

      @media (max-width: 915px) {
        font-size: 10px;
    }
    }
  }

  .cart__right {
    overflow: scroll;
    max-width: 500px;
    height: 455px;
    max-height: 455px;
    background-color: rgba(244, 244, 244, 0.9);
    padding: 15px;
    border-radius: 7px;
    margin-left: 20px;

    @media (max-width: 915px) {
      height: 353px;
    }

    @media (max-width: 748px) {
      height: 300px;
      max-width: 100%;
      width: 100%;
      margin-left: 0;
    }

    @media (max-width: 420px) {
      display: none;
    }

    .text__right {
      font-weight: 400;
      font-size: 25px;
      line-height: 30px;

      @media (max-width: 1033px) {
        font-size: 20px;
        line-height: 25px;
      }

      @media (max-width: 915px) {
        font-size: 15px;
        line-height: 20px;
      }
      @media (max-width: 880px) {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
}
